body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
h1 {
  color: '#000547';
}
.title{
  position: absolute;
  left: 450px;
  top: 75px;
  font-size: 250%;
}

.container{
    margin : 200px 5px 100px 450px;
    height: 42vh;
    width: 29%;
    border: 5px solid black;
    padding: 50px;
    border-radius: 10%;
}

h1{
    color: '#000547';
    text-align: center;
}

img{
    margin : 20px 30px 10px 10px;
    height: 150px;
    width: 150px;
}

button  {
    margin: 10px 10px 10px 100px;
    width: 200px;
    padding: 10px;
    background-color: rgb(6, 99, 202);
    font-size: 16px;
}