<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chemical Structure Isomorphism</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="title"> Chemical Structure Isomorphism </h1>
    </header>
    <section>
        <div class="container">
            <form method="post" >
                <label class ="label" >Chemical IUPAC Name</label> <br>

                <input type="text" placeholder="Butane " name="cname1" required> <br>

                <label class ="label" >Chemical IUPAC Name</label> <br>

                <input type="text" placeholder="n-butane" name="cname2" required> <br>

                <button type="Submit" name="save" >Submit</button>
            </form>
        </div>
    </section>
    <footer>
        <!-- Footer Ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2241062711814166"
             data-ad-slot="6326065817"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </footer>
</body>
</html>
