<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chemical Structure Isomorphism</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="title"> Chemical Structure Isomorphism </h1>
    </header>
    <section>
        <div class="container">
            <form method="post" >
                <label class ="label" >Chemical IUPAC Name</label> <br>

                <input type="text" placeholder="Butane " name="cname1" required> <br>

                <label class ="label" >Chemical IUPAC Name</label> <br>

                <input type="text" placeholder="n-butane" name="cname2" required> <br>

                <button type="Submit" name="save" >Submit</button>
            </form>
        </div>
    </section>
</body>
</html>
